<p>
    <strong>Autor:</strong>
    <%= comment .commenter %>
</p>
<p>
    <strong>Comentario:</strong>
    <%= comment .body %>
</p>
<p>
    <%= link_to 'Eliminar',
        [ comment .article, comment ],
        method: :delete,
        data: { confirm: '¿Desea eliminar el comentario?' }
    %>
</p>
<hr />
